<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-3 mb-3" *ngFor="let product of products">
        <div class="card shadow-sm">
          <img [src]="product.image" class="card-img-top" alt="Product Image">
          <div class="card-body">
            <h5 class="card-title">Category: <span class="text-primary">{{product.category}}</span></h5>
            <p class="card-text">ID: <strong>#{{product.id}}</strong></p>
            <p class="card-text">Price: <span class="fw-bold text-success">{{product.price}}</span></p>
            <p class="card-text">Rating: 
              <span class="text-warning">★★★★☆</span> ({{product.rating.rate}})
            </p>
            <div class="d-flex align-items-center">
            <button class="btn btn-warning w-100 ms-1 me-1">Add to cart</button>
            <button class="btn btn-primary w-100 ms-1 me-1">Buy Now</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
